<nav>
	<ul>
		<li>
			<a class='{path === "/"  ? "selected" : ""}' href='.'>about me</a>
		</li>
		<li>
			<a class='{path === "/contact"  ? "selected" : ""}' href='contact'>contact me</a>
		</li>
	</ul>
</nav>

<style>
	nav {
		font-weight: 300;
		padding: 0 1em;
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	li {
		list-style-type: none;
	}

	li a.selected {
		font-weight: 600;
		color: darkslategrey;
	}

	a {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
	}
</style>